[submodule "assignment-template-typst"]
	path = assignment-template-typst
	url = git@github.com:td-org-uit-no/assignment-template-typst.git
[submodule "assignment-template-latex"]
	path = assignment-template-latex
	url = git@github.com:td-org-uit-no/assignment-template-latex.git
